<div *ngFor="let propiedad of propiedades" class="propiedad-card">
    <img [src]="defaultPropiedadImagePath" alt="{{ propiedad.nombrePropiedad }}" class="propiedad-imagen">
    <div class="propiedad-detalles">
        <h4>{{ propiedad.nombrePropiedad }}</h4>
        <p>Departamento: {{ propiedad.departamento }}</p>
        <p>Municipio: {{ propiedad.municipio }}</p>
        <p>Calificación: {{ propiedad.puntajePromedio }}/5</p>
        
        <div class="botones">
            <app-propiedad-botones 
                [propiedad]="propiedad">
            </app-propiedad-botones>
        </div>
    </div>
</div>