<div class="container">
<main class="main-container">
    <section class="welcome-section">
        <h2>Bienvenido, {{ arrendador.nombreCuenta }}</h2>
        <p>Aquí puedes ver algunas de tus propiedades y ver las solicitudes más recientes que has recibido.</p>
    </section>

    <section class="propiedades-section">
        <h3>Mis Propiedades</h3>

        <div *ngIf="this.propiedades && this.propiedades.length > 0; else noPropiedades">
            <app-propiedad-card
                [propiedades]="this.propiedades"
                [isArrendador]="this.isArrendador">
            </app-propiedad-card>
        </div>
        <ng-template #noPropiedades>
            <div class="no-items-card">
                <p>No tienes propiedades registradas.</p>
                <p>¡Empieza creando una propiedad!</p>
                <a [routerLink]="['/arrendador/propiedades/crear-propiedad']" class="btn-crear">Crear Propiedad</a>
            </div>
        </ng-template>
    </section>

    <section class="solicitudes-section" *ngIf="solicitudesCargadas">
        <h3>Solicitudes Recibidas</h3>

        <div *ngIf="solicitudes && solicitudes.length > 0; else noSolicitudes">
            <app-solicitud-card
                [solicitudes]="this.solicitudes"
                (solicitudActualizada)="actualizarSolicitudes()">
            </app-solicitud-card>
        </div>
        <ng-template #noSolicitudes>
            <div class="no-items-card">
                <p>No han llegado solicitudes.</p>
            </div>
        </ng-template>
    </section>
</main>
</div>