<header class="navbar">
    <h1><a href="/inicio" (click)="navigateToHome($event)">ArriendaTuFinca</a></h1>
    <nav>
      <ul>
        <li *ngIf="!isArrendador">
          <a href="/buscar-propiedades" (click)="navigateToProperties($event)">Buscar propiedades</a>
        </li>
        <li *ngIf="isArrendador">
          <a href="/mis-propiedades" (click)="navigateToProperties($event)">Mis propiedades</a>
        </li>
        <li *ngIf="isArrendador">
          <a href="/solicitudes" (click)="navigateToSolicitudes($event)">Solicitudes recibidas</a>
        </li>
        <li>
          <a href="/perfil" (click)="navigateToProfile($event)">Perfil</a>
        </li>
        <li>
          <a href="/cerrar-sesion" (click)="logOut($event)">Cerrar sesión</a>
        </li>
      </ul>
    </nav>
  </header>
