.first-section {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    width: 100%;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 30px;
}