.solicitud-card {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    position: relative;
}

.solicitud-card h4 {
    font-size: 18px;
    color: #2E7D32;
    margin-top: 0;
    margin-bottom: 10px;
}

.solicitud-card p {
    font-size: 16px;
    color: #555;
    margin-bottom: 5px;
}

.solicitud-card .btn-detalles {
    position: absolute; 
    bottom: 20px; 
    right: 20px; 
}

.estado {
    font-weight: bold;
}

.estado-pendiente {
    color: #FFA000;
}

.estado-aceptada {
    color: #2E7D32;
}

.btn-detalles {
    display: inline-block;
    color: white;
    padding: 10px 12px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 14px;
    line-height: 1;
    background-color: #388E3C; /* Verde oscuro */
}

.btn-detalles:hover {
    background-color: #2E7D32; /* Verde más oscuro */
}
