<div *ngFor="let solicitud of solicitudes" class="solicitud-card">
    <h4 *ngIf="solicitud.propiedad">Solicitud para la propiedad: {{ solicitud?.propiedad?.nombrePropiedad }}</h4>
    <p *ngIf="esArrendador()">Solicitante: {{ solicitud?.arrendatario?.nombreCuenta }}</p>
    <p>Fecha de solicitud: {{ solicitud.fechaCreacion | fechaYHora }}</p>
    <p>Fecha ingreso: {{ solicitud.fechaInicio | fechaYHora }}, Fecha salida: {{ solicitud.fechaFinal | fechaYHora }}</p>
    <p>Valor: {{solicitud.valor | costoDinero}}</p>
    <p>Estado: <span [ngClass]="getEstadoSolicitudClase(solicitud)">{{ solicitud?.estadoSolicitud?.nombreEstadoSolicitud }}</span></p>

    <div class="botones">
        <app-solicitud-botones
            [solicitud]="solicitud"
            (solicitudActualizada)="recargarComponente()"
        ></app-solicitud-botones>
    </div>
</div>

