<div class="crear-solicitud-form">
    <h2>Crear Solicitud de Arriendo</h2>
    <form (ngSubmit)="enviarSolicitud()">
        <label for="fecha-inicio">Fecha de Inicio:</label>
        <input type="date" id="fecha-inicio" [(ngModel)]="solicitud.fechaInicio" name="fechaInicio" required>

        <label for="fecha-final">Fecha Final:</label>
        <input type="date" id="fecha-final" [(ngModel)]="solicitud.fechaFinal" name="fechaFinal" required>

        <label for="cantidad-personas">Cantidad de Personas:</label>
        <input type="number" id="cantidad-personas" [(ngModel)]="solicitud.cantidadPersonas" name="cantidadPersonas" min="1" required>

        <button type="submit" class="btn-detalles">Enviar Solicitud</button>
    </form>
</div>
